mat-form-field {
    width: 100%;
  }


  ::ng-deep .snack-success {
    background-color: #4caf50 !important;
    color: white;
  }
  
  ::ng-deep .snack-info {
    background-color: #1976d2 !important;
    color: white;
  }
  